/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
/*  font-style: italic;
  
  color: #373fff;
*/
  color: White;
  font-size: 1.35em;
}

div#text {
  position: absolute;
  left: 16px; 
  top: 16px;
  padding: 16px;
border: 3px double red !important;
  background-color: rgba(222,93,93,.3);
    border-radius: 5px;
}


div#leftbar {
    border-left: 6px solid #ccc!important;
}
div#w3-pale-blue{
    color: #000!important;
    background-color: #ddffff!important;
}